<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book notes | Murillo Godoy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Murillo Godoy<br>Books I've read</h1>
        <a href="/bookform">Add Book</a>
        <p>Tiny summary of books I've read until now.</p>
        <p>Sorted by default for most recent highest ratings. Sort by 
            <a href="">title</a>, 
            <a href="">newest</a>, or 
            <a href="">best</a>.
        </p>
    </header>
    <hr>
    <main>
        <section>
            <% for (let book of books) { %>
                <div>
                    <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="Book cover of <%= book.bname %> By <%= book.author %>">
                    <h2><%= book.bname %> - By <%= book.author %></h2>
                    <small>Date read: <%= book.rdate %>. How strongly I recommend It: <%= book.rating %>/10</small>

                    <p><%= book.rtext %></p>
                </div>
            <% }; %>
        </section>
    </main>
    <footer>
        Made by Murillo Godoy with Open Library Covers API
    </footer>
</body>
</html>